<div [formGroup]="passwordCallbackObject.form">
  <div class = "inline-container">
  <input class="form-ctrl" [type]="pwdShown ? 'text' : 'password'" formControlName="passwordControl" placeholder="{{header}}" spellcheck="false" (focus)="pwdFocus = true" (blur)="pwdFocus = false"/>
  <span class ="spacer"></span>
      <span class="password-icons pr-2" (click)="showPwd()">
        <i [ngClass]="!pwdShown ? 'fa fa-eye' : 'fa fa-eye-slash'" aria-hidden="true"></i>
      </span>
  </div>
  <div class = "errors" *ngIf="passwordCallbackObject.form.controls['passwordControl'].invalid && (passwordCallbackObject.form.controls['passwordControl'].dirty || passwordCallbackObject.form.controls['passwordControl'].touched) && !pwdFocus">
    <span @fadeSlideInOut *ngIf = "passwordCallbackObject.form.controls['passwordControl'].errors.required && header === 'Password'"> 
        Please enter your password.
      </span>
      <span @fadeSlideInOut *ngIf = "passwordCallbackObject.form.controls['passwordControl'].errors.required && header === 'one-time verification code'"> 
        Please enter the one-time verification code.
      </span>
    </div>
  <!-- TODO: Need to get placeholder text as directive input from the main component -->
</div>
