footer {
    width: 100%;
    background-color: #eaeaec;
    border: solid 1px #e1e1e1;
    font-weight: 300;
    font-size: 13px;
    color: #5c5c5c;
    padding-top: 45px;
    padding-bottom: 51px;
    margin-top: 40px;
    display: block;
    
}